<div class="container">
  <div class="row">
    <div class="col-12">
      <button
        class="btn btn-primary"
        (click)="onlyOdd = !onlyOdd"
      >Mostra só impar</button>
      <ul class="list-group">
        <!-- <div *ngIf="onlyOdd">
          <li
            *ngFor="let odd of oddNumbers"
            class="list-group-item"
            [ngClass]="{odd: odd % 2 !== 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0? '#eee' : '#000' }"
          >
            {{odd}}
          </li>
        </div>
        <div *appUnless="onlyOdd">
          <li
            *ngFor="let even of evenNumbers"
            class="list-group-item"
            [ngClass]="{even: even % 2 === 0}"
            [ngStyle]="{backgroundColor: odd % 2 !== 0? '#ddd' : '#000' }"
          >
          {{even}}
          </li>
        </div> -->
        <div *ngIf="onlyOdd; else par">
          <div *ngFor="let odd of numbers">
            <li
              *ngIf="odd % 2 !== 0"
              class="list-group-item"
              [ngClass]="{odd: odd % 2 !== 0}"

            >
              {{odd}}
            </li>
          </div>
        </div>
        <ng-template #par>
          <div *ngFor="let even of numbers">
            <li
              *ngIf="even % 2 === 0"
              class="list-group-item"
              [ngClass]="{even: even % 2 === 0}"

            >
              {{even}}
            </li>
          </div>
        </ng-template>
      </ul>
      <p appBasicHighlight >Estilizado com um diretiva customizada</p>
      <p [appBetterHighlight]="'yellow'" defaultColor="grey" >Estilizado com um diretiva customizada</p>
    </div>
  </div>
</div>
