<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Recipe Book</a>
      </div>
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" (click)="onSelect('recipes')">Recipes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="onSelect('shopping-list')">Shopping List</a>
          </li>
        </ul>
        <ul class="na navbar-nav navbar-right">
          <li class="dropdown nav-item" appDropdown >
            <a class="nav-link dropdown-toggle" role="button" id="dropdownMenuButton">Open/Close</a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton"  >
              <a class="dropdown-item" href="#">Save data</a>
              <a class="dropdown-item" href="#">Fetch data</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

